EdtBot/.gradle
EdtBot/.idea
EdtBot/.settings
EdtBot/bin/
EdtBot/build/
.vscode/
.classpath
.project



**/build/
!src/**/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
*/workspace.xml
/.gradle/
ecouteur_edt.txt